<h1>show current user</h1>
<% if current_user.user_type == 'manager' %>
  <%= @user.name %>
  <%= @user.user_type %>
  <%= link_to 'show projects',   user_projectts_path(current_user) %><br />

  <% elsif current_user.user_type == 'developer' %>
    <%= @user.name %>
    <%= @user.user_type %>
    <%= link_to 'project assigned', user_projectts_path(current_user) %>
  <% else %>
    <%= @user.name %>
    <%= @user.user_type %>
    <%= link_to "show project", user_projectts_path(current_user) %>
<% end %>
